<div [formGroup]="languagesForm">

  <div formArrayName="languages" *ngFor="let language of languages.controls; let i=index">
    <div [formGroupName]="i">
      <div class="row">
        <div class="col-sm-3">
          <input type="checkbox" formControlName="isSelected"> {{ language.get('name').value }}
        </div>
        <div class="col-sm-9" *ngIf="language.get('isSelected').value">
          <div formArrayName="frameworks" *ngFor="let framework of language.get('frameworks').controls, let i=index">
            <div [formGroupName]="i">
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-sm-4">
                  <input type="checkbox" formControlName="isSelected"> {{ framework.get('name').value}}
                </div>
                <div class="col-sm-4" *ngIf="framework.get('isSelected').value">
                  <input type="text" class="form-control" formControlName="hoursOfExperience">
                </div>
              </div>
            </div>

          </div>
          <button type="button" class="btn btn-default">Add</button>

        </div>
      </div>
    </div>
    <hr>
  </div>

</div>

<hr>