<div class="container">

  <h2 style="margin-top: 100px;" class="text-center">Job Application Wizard</h2>
  <hr/>

  <form action="">
    <ngb-tabset>

      <!-- Experience -->
      <ngb-tab title="Experience" id="experience">
        <template ngbTabContent>
          <h5 style="margin-top: 30px">Languages</h5>
          <hr>
          <app-language [languagesInput]="languages"></app-language>
          <button type="button" class="btn btn-default" (click)="validateExperience()">
            Next
          </button>
        </template>
      </ngb-tab>

      <!--Personal and Education-->
      <ngb-tab title="Personal and Education" id="personal-and-education">
        <template ngbTabContent>
          <app-personal></app-personal>

        </template>
      </ngb-tab>



      <!-- Project -->
      <ngb-tab title="Project" id="project">
        <template ngbTabContent>
          <h5 style="margin-top: 30px">Projects</h5>
          <app-project [projectsInput]="projects"></app-project>
        </template>
      </ngb-tab>

    </ngb-tabset>
  </form>

</div>