<div class="container">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </nav>


  <h2 style="margin-top: 100px;" class="text-center">Job Application Wizard</h2>
  <hr/>

  <form action="">
    <ngb-tabset>



      <!--Personal and Education-->
      <ngb-tab title="Personal and Education" id="personal-and-education">
        <template ngbTabContent>

          <!--Personal information-->
          <div [formGroup]="personForm">
            <h4 style="margin-top: 40px;">Personal information</h4>
            <hr>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Enter name" formControlName="name">
            </div>

            <div class="form-group">
              <label for="name">Birthday</label>

              <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="birthday">
                <div class="input-group-addon" (click)="d.toggle()">
                  Choose
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="Enter email"
                formControlName="email">

            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpId" placeholder="Phone number" formControlName="phone">
            </div>

            <div class="form-group">
              <label for="skype">Skype</label>
              <input type="text" class="form-control" name="skype" id="skype" aria-describedby="helpId" placeholder="Skype" formControlName="skype">
            </div>

            <hr>
            <h4 style="margin-top: 40px;">Education</h4>
            <hr>

            <div formArrayName="educations" *ngFor="let education of educations.controls; let i = index">
              <div [formGroupName]="i">
                <label attr.for="{{ 'education' + i}}">School, university, certificates: {{i}}</label>
                <textarea class="form-control" name="school" id="{{ 'education' + i}}" rows="3"></textarea>
              </div>
            </div>

            <button type="button" class="btn btn-default" (click)="addEducation()">Add</button>
            <hr>
            <button type="button" class="btn btn-primary float-right" (click)="validateEducation()">Next</button>
          </div>
        </template>
      </ngb-tab>

      <!-- Experience -->
      <ngb-tab title="Experience" id="experience">
        <template ngbTabContent>

          <h5 style="margin-top: 30px">Languages</h5>
          <hr>
          <app-language [language]="language" *ngFor="let language of languages"></app-language>


        </template>
      </ngb-tab>

      <!-- Project -->
      <ngb-tab title="Project" id="project">
        <template ngbTabContent>
          <h5 style="margin-top: 30px">Projects</h5>
          <app-project *ngFor="let pr of projects" [project]="pr"></app-project>
          <button type="button" class="btn btn-primary">Add</button>

        </template>
      </ngb-tab>

    </ngb-tabset>
  </form>


</div>