<div [formGroup]="projectsForm">
  <div formArrayName="projects" *ngFor="let fr of projects.controls; let i=index">
    <div [formGroupName]="i">
      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <label for="project-name">Project name</label>
            <input type="text" class="form-control" name="project-name" id="project-name" aria-describedby="helpId" placeholder="Project name"
              formControlName="name">
          </div>

          <div class="form-group">
            <label for="description">Project descripion</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="helpId" placeholder="Project description"
              formControlName="description">
          </div>

          <div class="form-group">
            <label for="teamsize">Teamsize</label>
            <input type="text" class="form-control" name="teamsize" id="teamsize" aria-describedby="helpId" placeholder="Teamsize" formControlName="teamSize">
          </div>
          <div class="form-group">
            <label for="role-in-team">Role in team</label>
            <input type="text" class="form-control" name="role-in-team" id="role-in-team" aria-describedby="helpId" placeholder="Role in team"
              formControlName="roleInTeam">
          </div>
          <div class="form-group">
            <label for="">Description of job</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Job description" formControlName="descriptionOfJob">
          </div>

          <div class="form-group">
            <label for="">Github</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Github" formControlName="github">
          </div>
        </div>
      </div>
    </div>

    <pre> {{ fr.value | json }}</pre>

  </div>
</div>

<button type="button" class="btn btn-primary" (click)="addProject()">Add</button>

<hr>